[submodule "3rdparty/composable_kernel"]
	path = 3rdparty/composable_kernel
	url = https://github.com/Yanxing-Shi/composable_kernel.git
	branch = modify
[submodule "3rdparty/tokenizers-cpp"]
	path = 3rdparty/tokenizers-cpp
	url = https://github.com/Yanxing-Shi/tokenizers-cpp.git
